<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>title</title>
  <meta name="description" content="windows">
  <meta name="author" content="Mate Tcholokava, Saba Orkoshneli, Eleonora Tchania">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
	<div class="container">
	  <div class="row">
	  	{% for topic in topics%}
	    <div class="col-4">
	    	<a href='{% url "topic" topic.title|slugify%}' class="btn-success">
	    		{% topic.title %}	
	    	</a>
	    </div>
	    {% endfor %}
	  </div>
	 </div>
  
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script type="text/javascript"></script>
</html>